<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"> 
    <title>{{ title }} - login</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/flags.css">
    <script src="{{root}}js/jquery.min.js"></script>
	<script src="{{root}}js/bootstrap.min.js"></script>
	<script src="{{root}}js/jquery.flagstrap.min.js"></script>
	<script src="js/jquery-lang.js" charset="utf-8" type="text/javascript"></script>
	<style>
	.error {
		background-color: lightsalmon;
	}
	.ok {
		background-color: lightgreen;
	}
	</style>
</head>
<body>
<script>
$().ready(function(){
	setMessage("<span lang='en'>Identify yourself</span>");
    $('.flagstrap').flagStrap({
        countries: {
            "US": "United States",
			"GB": "Great britain",
			"FR": "France",
			"FR": "France"
        },
        onSelect: function(value, element) {
			console.log("flagstrap to "+value);
			if( value.match(/GB|US/) )
			    window.lang.change("en");
			else
				window.lang.change("fr");
        },
        placeholder: {
            value: "",
            text: "Please select a country/language"
        }
    });
	var lang = new Lang();

	lang.dynamic('th', 'js/langpack/th.json');

	lang.init({
		defaultLang: 'fr'
	});
})

function setMessage(msg,level,append){
	if( level == undefined )
		level="ok"
	if( append )
		msg = $('#message').html() + "<br>" + msg;
	$('#message').removeClass('ok error').addClass(level).html(msg);
}

function login(){
	var data={}
	var error=false
	var msg=""
	$('input').each(function(k,v){
		var fname=$(this).attr('name')
		var fvalue=$(this).val()
		
		if( fvalue == undefined || fvalue==""){
			error=true
			msg += "<span lang='en'>Field</span> '"+fname+"' <span lang='en'>is mandatory</span><br>"
		} else {
			data[fname]=fvalue
		}
	})
	
	if( error ){
		setMessage(msg,'error')
	} else {
		$.post('{{root}}login',data,loginCheck,'json')
	}
}

function loginCheck(tab){
	if( tab && tab.message ){
		setMessage(tab.message,'ok')
	}
	if( tab && tab.error ){
		setMessage(tab.error,'error',true)
	} else {
		window.location="{{root}}index.html"
	}
}
</script>
<form>
    <div class="form-group">
        <div class="flagstrap"
             data-input-name="lang"
             data-selected-country="US"
             data-button-size="btn-md"
             data-button-type="btn-default"
             data-scrollable-height="250px"
             data-scrollable="true">
        </div>
    </div>
</form>
<h1>{{ title }} - login</h1>
<hr>
<div id="message"></div>
<table border="0">
	<tr><td><span lang="fr">Pr&eacute;nom</span><span lang="en">Firstname</span></td><td><input type="text" name="prenom"></td></tr>
	<tr><td><span lang="fr">Nom</span><span lang="en">Lastname</span></td><td><input type="text" name="nom" value=""></td></tr>
	<tr><td><span lang="fr">Mot de passe</span><span lang="en">Password</span></td><td><input type="password" name="id"></td></tr>
	<tr><td colspan="2" align="center"><button onClick="return login()"><span lang="fr">Validez</span><span lang="en">Valid</span></button></td>
</table>
</body>
</html>