<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"> 
    <title>{{ title }} - login</title>
    <script src="{{root}}js/jquery.min.js"></script>
	<script src="{{root}}js/lang.js"></script>
	<link rel="stylesheet" type="text/css" href="css/lang.css">
	<style>
	.error {
		background-color: lightsalmon;
	}
	.ok {
		background-color: lightgreen;
	}
	</style>
</head>
<body>
<script>
$().ready(function(){
	setMessage("<span lang='fr'>Veuillez vous identifiez</span><span lang='en'>Identify yourself</span>");
	
	setLang('en');
})

function setMessage(msg,level,append){
	if( level == undefined )
		level="ok"
	if( append )
		msg = $('#message').html() + "<br>" + msg;
	$('#message').removeClass('ok error').addClass(level).html(msg);
}

function login(){
	var data={}
	var error=false
	var msg=""
	$('input').each(function(k,v){
		var fname=$(this).attr('name')
		var fvalue=$(this).val()
		
		if( fvalue == undefined || fvalue==""){
			error=true
			msg += "<span lang='fr'>Champ '"+fname+"' est obligatoire</span><span lang='en'>Field '"+fname+"' is mandatory</span><br>"
		} else {
			data[fname]=fvalue
		}
	})
	
	if( error ){
		setMessage(msg,'error')
	} else {
		$.post('{{root}}login',data,loginCheck,'json')
	}
}

function loginCheck(tab){
	if( tab && tab.message ){
		setMessage(tab.message,'ok')
	}
	if( tab && tab.error ){
		setMessage(tab.error,'error',true)
	} else {
		window.location="{{root}}index.html"
	}
}
</script>
<button class="flag" onClick="setLang('en')">en</button><button class="flag" onClick="setLang('fr')">fr</button>
<h1>{{ title }} - login</h1>
<hr>
<div id="message"></div>
<table border="0">
	<tr><td><span lang="fr">Pr&eacute;nom</span><span lang="en">Firstname</span></td><td><input type="text" name="prenom"></td></tr>
	<tr><td><span lang="fr">Nom</span><span lang="en">Lastname</span></td><td><input type="text" name="nom" value=""></td></tr>
	<tr><td><span lang="fr">Mot de passe</span><span lang="en">Password</span></td><td><input type="password" name="id"></td></tr>
	<tr><td colspan="2" align="center"><button onClick="return login()"><span lang="fr">Validez</span><span lang="en">Valid</span></button></td>
</table>
</body>
</html>